# Pràctica Cas Kaggle 
## CS:GO Competitive Matchmaking Data

Introducció: Explicar contexte aqui...

### 1. Lectura del dataset

In [3]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import svm, datasets
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, f1_score

In [20]:
# Funcions per a llegir dades en format csv
def load_dataset(path):
    dataset = pd.read_csv(path, header=0, delimiter=',')
    return dataset

# La majoria de les dades estan separades en multiples fitxers. Funcio util per a llegir totes les parts
def load_split_dataset(path, parts):
    dataset = pd.concat([pd.read_csv(path + ".part%d.csv" % x, header=0, delimiter=',') for x in range(1,parts+1)])
    return dataset

#### Dades dels mapes

In [5]:
# Carreguem dades dels mapes
map_data = load_dataset('dataset/map_data.csv')
map_data.head()

   Unnamed: 0  EndX  EndY  ResX  ResY  StartX  StartY
0    de_cache  3752  3187  1024  1024   -2031   -2240
1    de_cbble  2282  3032  1024  1024   -3819   -3073
2    de_dust2  2127  3455  1024  1024   -2486   -1150
3  de_inferno  2797  3800  1024  1024   -1960   -1062
4   de_mirage  1912  1682  1024  1024   -3217   -3401

#### Dades de partides: Matchmaking servidors oficials

In [6]:
# Carregar dades de MM
mm_master_demos = load_dataset('dataset/mm_master_demos.csv')
mm_master_demos.head()

mm_grenades_demos = load_dataset('dataset/mm_grenades_demos.csv')
mm_grenades_demos.head()

,Unnamed: 0,file,map,round,start_seconds,seconds,end_seconds,att_team,vic_team,att_id,...,att_pos_x,att_pos_y,nade_land_x,nade_land_y,vic_pos_x,vic_pos_y,round_type,ct_eq_val,t_eq_val,avg_match_rank
0,0,003201673717864202280_0171883906.dem,de_dust2,1,109.5534,125.1816,197.6025,Team 2,NaN,76561198244806730,...,-918.1018,-856.1255,257.32770,-435.8516,NaN,NaN,PISTOL_ROUND,2950,3850,16.0
1,1,003201673717864202280_0171883906.dem,de_dust2,1,109.5534,139.1844,197.6025,Team 2,NaN,76561198051040004,...,-1310.6070,1145.8650,-1124.67500,1216.9330,NaN,NaN,PISTOL_ROUND,2950,3850,16.0
2,2,003201673717864202280_0171883906.dem,de_dust2,1,109.5534,166.0649,197.6025,Team 2,Team 2,76561198147933469,...,-180.6393,327.6691,-89.53781,318.2151,-130.1585,304.0313,PISTOL_ROUND,2950,3850,16.0
3,3,003201673717864202280_0171883906.dem,de_dust2,2,197.6025,213.0431,281.2757,Team 1,NaN,76561198051106390,...,151.3117,2304.8010,-431.48370,2126.3900,NaN,NaN,ECO,12400,4700,16.0
4,4,003201673717864202280_0171883906.dem,de_dust2,2,197.6025,220.8572,281.2757,Team 1,NaN,76561198051106390,...,-1669.9540,2197.1340,-1955.98500,1384.2130,NaN,NaN,ECO,12400,4700,16.0

#### Dades de partides: servidors professionals ESEA https://play.esea.net/

In [23]:
# Carreguem dades de "damage"
dmg_data = load_split_dataset('dataset/esea_master_dmg_demos', 2)
dmg_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10538182 entries, 0 to 4546084
Data columns (total 23 columns):
 #   Column           Dtype
---  ------           -----
 0   file             object
 1   round            int64
 2   tick             int64
 3   seconds          float64
 4   att_team         object
 5   vic_team         object
 6   att_side         object
 7   vic_side         object
 8   hp_dmg           int64
 9   arm_dmg          int64
 10  is_bomb_planted  bool
 11  bomb_site        object
 12  hitbox           object
 13  wp               object
 14  wp_type          object
 15  att_id           int64
 16  att_rank         int64
 17  vic_id           int64
 18  vic_rank         int64
 19  att_pos_x        float64
 20  att_pos_y        float64
 21  vic_pos_x        float64
 22  vic_pos_y        float64
dtypes: bool(1), float64(5), int64(8), object(9)
memory usage: 1.8+ GB

In [8]:
# Carreguem dades de "grenades"
grenades_data = load_split_dataset('dataset/esea_master_grenades_demos', 2)
grenades_data.info()

,file,round,seconds,att_team,vic_team,att_id,vic_id,att_side,vic_side,hp_dmg,...,hitbox,nade,att_rank,vic_rank,att_pos_x,att_pos_y,nade_land_x,nade_land_y,vic_pos_x,vic_pos_y
0,esea_match_13770997.dem,1,153.1602,Animal Style,NaN,76561198165334141,NaN,CounterTerrorist,NaN,0,...,NaN,Smoke,0,NaN,-1618.146,-66.00259,-949.8569,-340.3019,NaN,NaN
1,esea_match_13770997.dem,2,184.7945,Hentai Hooligans,Animal Style,76561198037331400,7.656120e+16,Terrorist,CounterTerrorist,70,...,Generic,HE,0,0.0,-1719.904,-2357.64700,-2774.6650,-1603.9430,-2741.25,-1523.163
2,esea_match_13770997.dem,2,186.8617,Animal Style,NaN,76561198055191021,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-1036.352,492.16760,-466.8676,-356.9641,NaN,NaN
3,esea_match_13770997.dem,2,187.1122,Animal Style,NaN,76561198055054795,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-855.077,438.69090,-459.0147,-543.8581,NaN,NaN
4,esea_match_13770997.dem,2,191.0587,Hentai Hooligans,NaN,76561198037331400,NaN,Terrorist,NaN,0,...,NaN,Molotov,0,NaN,-2617.490,-1832.40700,-2743.5610,-927.2995,NaN,NaN

In [6]:
# Carreguem dataset de kills
kills_data = load_split_dataset('dataset/esea_master_kills_demos', 2)
kills_data.head()

,file,round,tick,seconds,att_team,vic_team,att_side,vic_side,wp,wp_type,ct_alive,t_alive,is_bomb_planted
0,esea_match_13770997.dem,1,16058,30.74165,Animal Style,Hentai Hooligans,CounterTerrorist,Terrorist,USP,Pistol,5,4,False
1,esea_match_13770997.dem,1,16210,31.93185,Hentai Hooligans,Animal Style,Terrorist,CounterTerrorist,Glock,Pistol,4,4,False
2,esea_match_13770997.dem,1,16510,34.28094,Hentai Hooligans,Animal Style,Terrorist,CounterTerrorist,Glock,Pistol,3,4,False
3,esea_match_13770997.dem,1,17104,38.93212,Animal Style,Hentai Hooligans,CounterTerrorist,Terrorist,USP,Pistol,3,3,False
4,esea_match_13770997.dem,1,17338,40.76441,Hentai Hooligans,Animal Style,Terrorist,CounterTerrorist,Glock,Pistol,2,3,False

In [21]:
# Carreguem dades de "meta"
meta_data = load_split_dataset('dataset/esea_meta_demos', 2)
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377629 entries, 0 to 161709
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   file           377629 non-null  object
 1   map            377629 non-null  object
 2   round          377629 non-null  int64
 3   start_seconds  377589 non-null  float64
 4   end_seconds    377589 non-null  float64
 5   winner_team    377628 non-null  object
 6   winner_side    377629 non-null  object
 7   round_type     377629 non-null  object
 8   ct_eq_val      377629 non-null  int64
 9   t_eq_val       377629 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 31.7+ MB

In [ ]:
# TODO: preprocesament:
# eliminar outliers? mirar correlacions y todo